In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("/content/earthquake.xlsx" )
# pd.set_option("max_rows", None)
df

     day  month  year  Mag Region name
0     19     10  2021  2.4    New york
1     14      7  2021  2.8    New york
2     28      5  2021  2.4    New york
3     20      3  2021  2.0    New york
4     14      3  2021  2.7    New york
..   ...    ...   ...  ...         ...
658   29      6  2014  3.4     Arizona
659   29      6  2014  3.5     Arizona
660   10      1  2014  3.4     Arizona
661    7      7  2013  3.5     Arizona
662    8     10  2012  3.6     Arizona

[663 rows x 5 columns]

In [3]:
df.describe()

              day       month         year         Mag
count  663.000000  663.000000   663.000000  663.000000
mean    15.989442    6.852187  2017.841629    2.643288
std      8.728788    3.470966     2.364251    0.452832
min      1.000000    1.000000  2012.000000    2.000000
25%      9.000000    4.000000  2016.000000    2.300000
50%     16.000000    7.000000  2018.000000    2.600000
75%     24.000000   10.000000  2020.000000    2.900000
max     31.000000   12.000000  2021.000000    4.600000

In [4]:
df["Mag"] = pd.to_numeric(df["Mag"])

In [5]:
df.describe()

              day       month         year         Mag
count  663.000000  663.000000   663.000000  663.000000
mean    15.989442    6.852187  2017.841629    2.643288
std      8.728788    3.470966     2.364251    0.452832
min      1.000000    1.000000  2012.000000    2.000000
25%      9.000000    4.000000  2016.000000    2.300000
50%     16.000000    7.000000  2018.000000    2.600000
75%     24.000000   10.000000  2020.000000    2.900000
max     31.000000   12.000000  2021.000000    4.600000

In [6]:
from sklearn.preprocessing import LabelEncoder
#
# Instantiate LabelEncoder
#
le = LabelEncoder()
cols = ['Region name']
#
# Encode labels of multiple columns at once
#
df[cols] = df[cols].apply(le.fit_transform)
#
# Print head
#
# pd.set_option("max_rows", None)
df

     day  month  year  Mag  Region name
0     19     10  2021  2.4            5
1     14      7  2021  2.8            5
2     28      5  2021  2.4            5
3     20      3  2021  2.0            5
4     14      3  2021  2.7            5
..   ...    ...   ...  ...          ...
658   29      6  2014  3.4            2
659   29      6  2014  3.5            2
660   10      1  2014  3.4            2
661    7      7  2013  3.5            2
662    8     10  2012  3.6            2

[663 rows x 5 columns]

In [7]:
df.describe()

              day       month         year         Mag  Region name
count  663.000000  663.000000   663.000000  663.000000   663.000000
mean    15.989442    6.852187  2017.841629    2.643288     5.802413
std      8.728788    3.470966     2.364251    0.452832     3.411620
min      1.000000    1.000000  2012.000000    2.000000     0.000000
25%      9.000000    4.000000  2016.000000    2.300000     3.000000
50%     16.000000    7.000000  2018.000000    2.600000     6.000000
75%     24.000000   10.000000  2020.000000    2.900000     9.000000
max     31.000000   12.000000  2021.000000    4.600000    12.000000

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

msk = np.random.rand(len(df)) < 0.8
train = df[msk]
test = df[~msk]


train_x = np.array(train[["day","month","year","Region name"]])
train_y = np.array(train[['Mag']])
reg = LinearRegression().fit(train_x, train_y)
print("score : %.3f" % reg.score(train_x, train_y))
print(reg.coef_[0])
print("intercept : %.3f" % reg.intercept_[0])


#----------------------------------------------------------------
test_x = np.array(test[["day","month","year","Region name"]])
test_y = np.array(test[['Mag']])
test_y_ = reg.predict(test_x)
print("r2 score : %.2f" % (r2_score(test_y,test_y_)))

score : 0.085
[ 0.00157438  0.001044   -0.05714828  0.00278825]
intercept : 117.897
r2 score : 0.13

In [15]:
Region = input("enter Region name")

print(Region)

result = 0
if Region == "New york":
  result = 5
elif Region == "Arizona":
  result = 2
elif Region == "Georgia":
  result = 3
elif Region == "Southern Texas":
  result = 10
elif Region == "Oregon":
  result = 7
elif Region == "South Carolina":
  result = 9
elif Region == "Alabama":
  result = 1
elif Region == "Virginia":
  result = 11
elif Region == "North Carolina":
  result = 6
elif Region == "Washington":
  result = 12
elif Region == "Illinois":
  result = 4
elif Region == "Pennsylvania":
  result = 8
elif Region == "PORTLAND URBAN AREA, OREGON":
  result = 0

print(result)

enter Region nameAlabama
Alabama
1

In [10]:
res = reg.predict(np.array([[15,6,2023,result]]))
print(res*10)

res = reg.predict(np.array([[15,6,2024,result]]))
print(res*10)

res = reg.predict(np.array([[15,6,2025,result]]))
print(res*10)

[[23.16306101]]
[[22.59157819]]
[[22.02009537]]